<% content_for :page_title, "Formulaire de demande d'enrégistrement de nom de domaine" %>
<% content_for :page_meta_description, "" %>
<% content_for :page_meta_keywords, "" %>

<section class="hero is-medium banner-new-domain-name">
  <div class="hero-body">
    <div class="container">
      <!-- <h1 class="title">
        Hero title
      </h1>
      <h2 class="subtitle">
        Hero subtitle
      </h2> -->
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="steps" id="stepsDemo">
          <div class="step-item is-active is-success">
            <div class="step-marker">1</div>
            <div class="step-details">
              <p class="step-title">Account</p>
            </div>
          </div>
          <div class="step-item">
            <div class="step-marker">2</div>
            <div class="step-details">
              <p class="step-title">Profile</p>
            </div>
          </div>
          <div class="step-item">
            <div class="step-marker">3</div>
            <div class="step-details">
              <p class="step-title">Social</p>
            </div>
          </div>
          <div class="step-item">
            <div class="step-marker">4</div>
            <div class="step-details">
              <p class="step-title">Finish</p>
            </div>
          </div>
          <div class="steps-content">
            <div class="step-content has-text-centered is-active">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Username</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input" name="username" id="username" type="text" placeholder="Username" autofocus data-validate="require">
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Password</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control has-icon has-icon-right">
                      <input class="input" type="password" name="password" id="password" placeholder="Password" data-validate="require">
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Confirm password</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control has-icon has-icon-right">
                      <input class="input" type="password" name="password_confirm" id="password_confirm" placeholder="Confirm password" data-validate="require">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="step-content has-text-centered">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Firstname</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input" name="firstname" id="firstname" type="text" placeholder="Firstname" autofocus data-validate="require">
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Last name</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control has-icon has-icon-right">
                      <input class="input" type="text" name="lastname" id="lastname" placeholder="Last name" data-validate="require">
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Email</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control has-icon has-icon-right">
                      <input class="input" type="email" name="email" id="email" placeholder="Email" data-validate="require">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="step-content has-text-centered">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Facebook account</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input" name="facebook" id="facebook" type="text" placeholder="Facebook account url" autofocus data-validate="require">
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Twitter account</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input" name="twitter" id="twitter" type="text" placeholder="Twitter account url" autofocus data-validate="require">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="step-content has-text-centered">
              <h1 class="title is-4">Your account is now created!</h1>
            </div>
          </div>
          <div class="steps-actions">
            <div class="steps-action">
              <a href="#" data-nav="previous" class="button is-light">Previous</a>
            </div>
            <div class="steps-action">
              <a href="#" data-nav="next" class="button is-light">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8 content">
        <h3 class="title">Complètez le formulaire ci-dessous puis cliquer sur soumettre les informations.</h3>
        <%= form_with model: @domain_name, local: true do |f| %>
        <div class="box">
          <h4 class="subtitle">Information sur le domaine que vous avez choisir.</h4>
          <div class="columns">
            <div class="column">
              <div class="field">
                <%= f.label :domain, "Domaine", class: "label"  %>
                <div class="control">
                  <%= f.text_field :domain, class: "input", value: "www.#{session[:second_level_domain_name]}.bj", readonly: true %>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <%= f.label :duration, "Sélectionner la durée", class: "label" %>
                <div class="control">
                  <div class="select">
                    <%= f.select :duration, ["1 an", "2 ans", "3 ans", "4 ans", "5 ans"], autofocus: true %>
                    <%#= f.collection_select :duration, DomainName::DURATION, :id, :id, prompt: true %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <h4 class="subtitle">Information sur le propriétaire du domaine.</h4>
          <%= f.fields_for :owner do |owner_form| %>
          <div class="columns">
            <div class="column">
              <div class="field">
                <%= owner_form.label :first_name, "Prénom", class: "label"  %>
                <div class="control">
                  <%= owner_form.text_field :first_name, class: "input" %>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <%= owner_form.label :last_name, "Nom", class: "label"  %>
                <div class="control">
                  <%= owner_form.text_field :last_name, class: "input" %>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <%= owner_form.label :email_address, "Adresse email", class: "label"  %>
                <div class="control">
                  <%= owner_form.email_field :email_address, class: "input" %>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <%= owner_form.label :mobile_phone_number, "Numéros de téléphone", class: "label"  %>
                <div class="control">
                  <%= owner_form.telephone_field :mobile_phone_number, class: "input" %>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <%= owner_form.label :owner_activity_description, "Votre activité", class: "label"  %>
                <div class="control">
                  <%= owner_form.text_area :owner_activity_description, class: "input", placeholder: "Brèf description de votre activité", class: "textarea" %>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <%= owner_form.label :address, "Votre adresse", class: "label"  %>
                <div class="control">
                  <%= owner_form.text_field :address, class: "input", placeholder: "Ex: Akpakpa, sodjatinmè" %>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <%= owner_form.label :id_card, "Joignez la copie de votre carte nationale d'identité ou passport en cours de validité.", class: "label" %>
                <div class="control">
                  <%= owner_form.file_field :id_card, class: "input" %>
                </div>
              </div>
            </div>
          </div> 

                    <!-- <div class="columns">
                        <div class="column">
                            <div class="file">
                                <#%= owner_form.label :id_card, class: "file-label" do %>
                                <%#= owner_form.file_field :id_card, class: "file-input", direct_upload: true %>

                                <span class="file-cta">
                                  <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Joindre une copie de votre pièce d'identité nationale ou passport en cours de validité.
                                </span>
                            </span>
                            <%# end %>
                        </div>
                    </div>
                  </div> -->
                  <% end %>
                </div>

                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <%= f.submit "Soumettre les informations", class: "button is-primary is-medium is-pulled-right" %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>
