<% content_for :page_title, "Récapitulatif d'enrégistrement de nom de domaine" %>
<% content_for :page_meta_description, "" %>
<% content_for :page_meta_keywords, "" %>

<section class="hero is-medium banner-new-domain-name">
  <div class="hero-body">
    <div class="container">
      <!-- <h1 class="title">
        Hero title
      </h1>
      <h2 class="subtitle">
        Hero subtitle
    </h2> -->
</div>
</div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h3 class="title is-3">Merci de suivre les procédures de paiement ci-dessous afin de terminé l'enrégistrement de votre nom domaine.</h3>
            </div>
        </div>
    </div>
</section>

<%# if @pic.attached? %>
<!-- <p><%#= image_tag @pic %></p> -->
<%# end %>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10">
             <h4 class="title is-size-4"><span class="has-text-weight-bold">Récapitulatif de votre commande</h4>
                <div class="box">

                </div>
            </div>

        </div>
        <div class="columns">            
            <div class="column">
                <h4 class="title is-size-4 has-text-weight-bold">Paiement par MTN Mobile Money</h4>
                <p>Pour payer votre nom de domaine par MTN Mobile Money</p>
                <div class="content">
                    <ul>
                        <li>Vous devez disposer d’un compte MTN Mobile Money chez MTN.</li>
                        <li>Tapez *400# à partir de votre téléphone portable.</li>
                        <li>Choisissez 2 pour Payements MM.</li>
                        <li>Choisissez 1 pour Achat de Bien et Services</li>
                        <li>Entrez le numero <span class="has-text-weight-bold">61 33 23 92</span>.</li>
                        <li>Entrer à nouveau le numéro <span class="has-text-weight-bold">61 33 23 92</span> pour confirmer.</li>
                        <li>Entrez le montant que vous souhaitez payer à savoir: <span class="is-size-4 has-text-weight-bold"><%= number_to_currency(@domain_name.price, precision: 0, unit: "Fcfa", separator: ",", delimiter: "", format: "%n %u") %></span>.</li>
                        <li>Entrez exactement le motif suivant : <span class="is-size-4 has-text-weight-bold"><%= @domain_name.domain %></span>. Ce motif est indispensable pour recevoir votre code de validation de paiement.</li>
                    </ul>
                </div>
            </div>
             <div class="column">
                <h4 class="title is-size-4 has-text-weight-bold">Paiement par Moov Money/Flooz</h4>
                <p>Pour payer votre nom de domaine par Moov Money/Flooz</p>
                <div class="content">
                    <ul>
                        <li>Vous devez disposer d’un compte MTN Mobile Money chez MTN.</li>
                        <li>Tapez *400# à partir de votre téléphone portable.</li>
                        <li>Choisissez 2 pour Payements MM.</li>
                        <li>Choisissez 1 pour Achat de Bien et Services</li>
                        <li>Entrez le numero <span class="has-text-weight-bold">61 33 23 92</span>.</li>
                        <li>Entrer à nouveau le numéro <span class="has-text-weight-bold">61 33 23 92</span> pour confirmer.</li>
                        <li>Entrez le montant que vous souhaitez payer à savoir: <span class="is-size-4 has-text-weight-bold"><%= number_to_currency(@domain_name.price, precision: 0, unit: "Fcfa", separator: ",", delimiter: "", format: "%n %u") %></span>.</li>
                        <li>Entrez exactement le motif suivant : <span class="is-size-4 has-text-weight-bold"><%= @domain_name.domain %></span>. Ce motif est indispensable pour recevoir votre code de validation de paiement.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

