<% if flash[:notice] %>
<div class="notification is-success is-radiusless is-fixed-top" style="margin-bottom: 0px;">
  <button class="delete"></button>
  <div class="columns is-centered">
    <div class="column is-8">
      <p class="has-text-centered"><%= flash[:notice] %></p>
  </div>
</div>
</div>
<% elsif flash[:alert] %>
<div class="notification is-danger is-radiusless is-fixed-top" style="margin-bottom: 0px;">
  <button class="delete"></button>
  <div class="columns is-centered">
    <div class="column is-8">
      <p class="has-text-centered"><%= flash[:alert] %></p>
  </div>
</div>
</div>
<% end %>
