<section class="container-fluid" style="background-color: #243141;">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-4 my-3 my-lg-0">
                <h3 class="mb-3 font-weight-bold d-flex align-items-baseline">
                    <%= link_to root_path, class: "navbar-brand" do %>
                    <%= image_tag "tds_logo.jpg" %>
                    <% end %>
                </h3>
                <address>
                    <ul class="list-unstyled">
                        <li class="my-2">
                            <p class="text-light"><span>Addresse :</span> Akpakpa Sodjatimè, Bénin</p>
                        </li>
                        <li class="my-2">
                            <p class="text-light"><span>Téléphone :</span> 97 64 97 14 - 94 30 12 84</p>
                        </li>
                        <li class="my-2">
                            <p class="text-light"><span>Email :</span> <%= mail_to "contact@tdshosting.bj", "contact@tdshosting.bj", subject: "Demande d'information", class: "text-light" %></p>
                        </li>
                    </ul>
                </address>

                <a class="btn btn-block btn-social btn-facebook text-white">
                    <span class="fa fa-facebook"></span> Suivez nous sur facebook
                </a>
            </div>
            <div class="col-lg-2 my-3 my-lg-0">
                <h4 class="mb-4 text-light">Hébergement</h4>
                <ul class="list-unstyled">
                    <li class="my-2">
                        <%= link_to "Hébergement Web", root_path, class: "text-light" %>
                    </li>
                    <li class="my-2">
                        <%= link_to "Hébergement VPS", root_path, class: "text-light" %>
                    </li>
                    <li class="my-2">
                        <%= link_to "Hébergement mutualisé", root_path, class: "text-light" %>
                    </li>
                    <li class="my-2">
                        <%= link_to "Serveur dédiée", root_path, class: "text-light" %>
                    </li>
                    <li class="my-2">
                        <%= link_to "FAQ", root_path, class: "text-light" %>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 my-3 my-lg-0">
                <h4 class="mb-4 text-light">Qui sommes nous</h4>
                <ul class="list-unstyled">
                    <li class="my-2">
                        <%= link_to 'A propos de nous', root_path, class: "text-light" %>
                    </li>
                    <li class="my-2">
                        <%= link_to 'Contactez nous', root_path, class: "text-light" %>
                    </li>
                    <li class="my-2">
                        <%= link_to "Recrutement", root_path, class: "text-light" %>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 my-3 my-lg-0">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="mb-4 text-light">Support</h4>
                        <ul class="list-unstyled">
                            <li class="my-2">
                                <%= link_to 'Product Support', root_path, class: "text-light" %>
                            </li>
                            <li class="my-2">
                                <%= link_to 'FAQS', root_path, class: "text-light" %>
                            </li>
                            <li class="my-2">
                                <%= link_to "Live Chat", root_path, class: "text-light" %>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-12">
                        <h4 class="mb-3 text-light">Nous acceptons:</h4>
                        <ul class="list-unstyled d-flex">
                            <li class="mr-2">
                                <%= image_tag "Payment-method/SVG/160/206684 - card method payment visa.svg", alt: "Visa", width: "50px;" %>
                            </li>
                            <li class="mx-2">
                                <%= image_tag "Payment-method/SVG/160/206680 - card master method payment.svg", alt: "Visa", width: "50px;" %>
                            </li>
                            <li class="ml-2">
                                <%= image_tag "Payment-method/SVG/160/206675 - method payment paypal.svg", alt: "Visa", width: "50px;" %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="container-fluid" style="background-color: #288feb;">
    <div class="container">
        <div class="row py-3">
            <div class="col-lg-6 d-flex justify-content-start">
                <p class="text-white mb-0">Copyright &copy; <%= @current_year %> tdshosting. Tous droit réservé.</p>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
                <ul class="nav">
                    <li class="nav-item px-2">
                        <%= link_to "Conditions de services", root_path, class: "nav-link text-white p-0 cds" %>
                    </li>
                    <li class="nav-item px-2">
                        <%= link_to "Politique de confidentialité", root_path, class: "nav-link text-white p-0" %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>



<footer class="section has-background-grey-dark">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered content">
                <p class="has-text-white">Copyright &copy; TDS Hosting. Tous droits réservés</p>
            </div>
        </div>
    </div>
</footer>
