<footer class="section has-background-grey-dark">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered content">
          <p class="has-text-white">Copyright &copy; TDS Hosting. Tous droits réservés</p>
        </div>
      </div>
    </div>
  </footer>