<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
        <%= image_tag "tds_logo.jpg" %>
        <% end %>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-end">
            <%= link_to "Accueil", root_path, class: "navbar-item" %>
            <a class="navbar-item">
              Nom de domaine
            </a>
            <a class="navbar-item">
              Hébergement web
            </a>
            <a class="navbar-item">
              Création de site web
            </a>
            <a class="navbar-item">
              Services
            </a>
            <a class="navbar-item">
              Contact
            </a>
          </div>

          <!-- <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control"> -->
            <!-- <a class="button is-primary is-medium ">Obtenez un devis
            </a> -->

            <!-- <button class="button is-primary is-medium modal-button is-active" id="open-modal">Obtenez un devis</button>

              <a class="open-modal" data-modal-id="#my-modal">Open My Modal</a> -->

              <!-- <button class="button is-primary is-medium" id="btn">Obtenez un devis</button>
            </p>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</nav>
</header>