<section class="container-fluid py-5" style="background-image: url(<%= image_path "14624.jpg" %>); width: 100vh:">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<p data-aos="zoom-in" data-aos-delay="500" data-aos-duration="1000"><%= image_tag "layer2.png", class: "w-100" %></p>
			</div>
			<div class="col-lg-5 offset-lg-1 d-flex flex-column justify-content-center">
				<h4 data-aos="fade-left" data-aos-delay="2000" data-aos-duration="1000">CRÉEZ VOTRE SITE WEB AVEC</h4>
				<h2 data-aos="fade-left" data-aos-delay="3000" data-aos-duration="1000">TDS HOSTING</h2>
				<ul class="ml-0">
					<li data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
						Espace Web illimité
					</li>
					<li data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1000">
						Nom de domaine gratuit
					</li>
					<li data-aos="fade-up" data-aos-delay="2000" data-aos-duration="1000">
						Outils de construction de Site Gratuit
					</li>
					<li data-aos="fade-up" data-aos-delay="2500" data-aos-duration="1000">
						Marketing gratuit et référencement
					</li>
				</ul>
				<p data-aos="fade-left" data-aos-delay="3000" data-aos-duration="1000"><%= link_to "Commencer maintenant", root_path, class: "btn btn-primary btn-lg badge-pill" %></p>
			</div>
		</div>
	</div>
</section>

<div id="carouselExampleControls" class="carousel slide carousel-fade sr-only" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active" style="background-image: url(<%= image_path "14624.jpg" %>); width: 100vh:">
			<!-- <img class="d-block w-100" src="<%#= image_path "1.jpg" %>" alt="First slide"> -->
			<div class="container">

			</div>

		</div>
		<div class="carousel-item" style="background-image: url(<%= image_path "1.jpg" %>);">
			<!-- <img class="d-block w-100" src="<%#= image_path "2.jpg" %>" alt="Second slide"> -->
		</div>
		<div class="carousel-item" style="background-image: url(<%= image_path "1.jpg" %>);">
			<!-- <img class="d-block w-100" src="<%#= image_path "1.jpg" %>" alt="Third slide"> -->
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<section class="container-fluid py-5" style="background-color: #243141;" data-aos="fade-up">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 d-flex flex-column align-items-start">
				<h4 class="text-white">Rechercher votre domaine</h4>
				<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vitae impedit pariatur expedita sint accusamus laudantium, nostrum, tenetur doloribus voluptas repellat at quia eos quo, totam soluta aperiam consequatur deserunt.</p>
			</div>
			<div class="col-lg-8">
				<%= form_with url: root_path do |form| %>
				<div class="form-row">
					<div class="col-lg-7">
						<%= form.text_field :domain_name, class: "form-control form-control-lg", placeholder: "Entrer votre domaine" %>
					</div>
					<div class="col-lg-1">
						<%= form.button "Rechercher un domaine", class: "btn btn-primary btn-lg" %>
					</div>
				</div>
				<div class="form-row">
					<div class="col-lg-7">
						<div class="form-check form-check-inline">
							<%= form.check_box :domain_name, class: "form-check-input", placeholder: "Entrer votre domaine" %>
							<%= form.label :domain_name, ".bj", class: "form-check-label text-white", placeholder: "Entrer votre domaine" %>
						</div>
						<div class="form-check form-check-inline">
							<%= form.check_box :domain_name, class: "form-check-input", placeholder: "Entrer votre domaine" %>
							<%= form.label :domain_name, ".com", class: "form-check-label text-white", placeholder: "Entrer votre domaine" %>
						</div>
						<div class="form-check form-check-inline">
							<%= form.check_box :domain_name, class: "form-check-input", placeholder: "Entrer votre domaine" %>
							<%= form.label :domain_name, ".net", class: "form-check-label text-white", placeholder: "Entrer votre domaine" %>
						</div>
						<div class="form-check form-check-inline">
							<%= form.check_box :domain_name, class: "form-check-input", placeholder: "Entrer votre domaine" %>
							<%= form.label :domain_name, ".fr", class: "form-check-label text-white", placeholder: "Entrer votre domaine" %>
						</div>
						<div class="form-check form-check-inline">
							<%= form.check_box :domain_name, class: "form-check-input", placeholder: "Entrer votre domaine" %>
							<%= form.label :domain_name, ".xyz", class: "form-check-label text-white", placeholder: "Entrer votre domaine" %>
						</div>
						<div class="form-check form-check-inline">
							<%= form.check_box :domain_name, class: "form-check-input", placeholder: "Entrer votre domaine" %>
							<%= form.label :domain_name, ".biz", class: "form-check-label text-white", placeholder: "Entrer votre domaine" %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid py-5" data-aos="fade-up">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mb-4 d-flex flex-column justify-content-center align-items-center">
				<h2>Nos services</h2>
			</div>
			<div class="col-lg-4">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h4 class="card-title">Caractéristiques illimitées</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h4 class="card-title">Protection des données</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h4 class="card-title">Analyse des données</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h4 class="card-title">Support technique</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid py-5 bg-white" data-aos="fade-up">
	<section class="container">
		<div class="row">
			<div class="col-12 text-center mb-3">
				<h2>Nos tarifs</h2>
			</div>
		</div>
		<section class="row d-flex align-items-center">
			<div class="col-lg-4 mb-4">
				<div class="card pricing_plan shadow-sm">
					<div class="card-header text-center py-5" style="background-color: #243141;">
						<h2 class="font-weight-bold text-light">STANDARD</h2>
						<p class="text-light">Grand plan pour les petites entreprises</p>
					</div>
					<div class="card-body text-center">
						<h1 class="card-title">
							Gratuit
						</h1>
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">150 GB Space</li>
						<li class="list-group-item">Free Domian Registar</li>
						<li class="list-group-item">Support 24/7</li>
						<li class="list-group-item">Free Marketing</li>
						<li class="list-group-item">99.9% Service Uptime</li>
						<li class="list-group-item">30 Day Money Back Guarantee</li>
						<li class="list-group-item">
							<%= link_to "S'inscire maintenant", root_path(pricing_plan_choosing: "basic"), class: "btn btn-dark" %>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="card pricing_plan shadow-sm">
					<div class="card-header text-center py-5" style="background-color: #243141;">
						<h2 class="font-weight-bold text-light">PREMIUM</h2>
						<p class="text-light">Meilleur choix pour votre site web</p>
					</div>
					<div class="card-body text-center">
						<h1 class="card-title">
							Gratuit
						</h1>
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">150 GB Space</li>
						<li class="list-group-item">Free Domian Registar</li>
						<li class="list-group-item">Support 24/7</li>
						<li class="list-group-item">Free Marketing</li>
						<li class="list-group-item">99.9% Service Uptime</li>
						<li class="list-group-item">30 Day Money Back Guarantee</li>
						<li class="list-group-item">
							<%= link_to "S'inscire maintenant", root_path(pricing_plan_choosing: "basic"), class: "btn btn-primary" %>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="card pricing_plan shadow-sm">
					<div class="card-header text-center py-5" style="background-color: #243141;">
						<h2 class="font-weight-bold text-light">ADVANCE</h2>
						<p class="text-light">Puissance ultime, performance</p>
					</div>
					<div class="card-body text-center">
						<h1 class="card-title">
							Gratuit
						</h1>
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">150 GB Space</li>
						<li class="list-group-item">Free Domian Registar</li>
						<li class="list-group-item">Support 24/7</li>
						<li class="list-group-item">Free Marketing</li>
						<li class="list-group-item">99.9% Service Uptime</li>
						<li class="list-group-item">30 Day Money Back Guarantee</li>
						<li class="list-group-item">
							<%= link_to "S'inscire maintenant", root_path(pricing_plan_choosing: "basic"), class: "btn btn-dark" %>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</section>
</section>


<section class="container-fluid py-5" style="background-color: #4995dd;" data-aos="fade-up">
	<div class="container">
		<div class="owl-carousel owl-theme">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-center">
					<p><%= image_tag "client1.png", alt: "Client1" %></p>
					<h3 class="text-light font-weight-bold">Francel AMAMOO</h3>
					<div class="card bg-transparent border-white">
						<div class="card-body">
							<p class="card-text text-center text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sapiente recusandae at eum quidem. Eius quisquam quod mollitia ut architecto dolorum animi, nihil ipsa unde voluptatum at deserunt ab, nesciunt?</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-center">
					<p><%= image_tag "client1.png", alt: "Client1" %></p>
					<h3 class="text-light font-weight-bold">Francel </h3>
					<div class="card bg-transparent border-white">
						<div class="card-body">
							<p class="card-text text-center text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sapiente recusandae at eum quidem. Eius quisquam quod mollitia ut architecto dolorum animi, nihil ipsa unde voluptatum at deserunt ab, nesciunt?</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-center">
					<p><%= image_tag "client1.png", alt: "Client1" %></p>
					<h3 class="text-light font-weight-bold">Francel </h3>
					<div class="card bg-transparent border-white">
						<div class="card-body">
							<p class="card-text text-center text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sapiente recusandae at eum quidem. Eius quisquam quod mollitia ut architecto dolorum animi, nihil ipsa unde voluptatum at deserunt ab, nesciunt?</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="container-fluid pt-5" data-aos="fade-up">
	<section class="container">
		<div class="row">
			<div class="col-lg-6">
				<p class="mb-0"><%= image_tag "man1.png" %></p>
			</div>
			<div class="col-lg-6">
				<h4 class="font-weight-bold">CARACTÉRISTIQUES D'HÉBERGEMENT</h4>
				<h2 class="font-weight-bold">ET NOS MEILLEURS AVANTAGES</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sint amet repudiandae culpa quasi eos nisi minus voluptate distinctio, rem fugit excepturi modi voluptates itaque atque quaerat dolor voluptatem quisquam.</p>
				<ul class="list-unstyled">
					<li class="py-2">
						<i class="fa fa-check" aria-hidden="true" style="color: rgb(33, 150, 243);"></i>&nbsp; Aenean eget libero quis lorem suscipit quis nec purus.
					</li>
					<li class="py-2">
						<i class="fa fa-check" aria-hidden="true" style="color: rgb(33, 150, 243);"></i>&nbsp; Aenean eget libero quis lorem suscipit quis nec purus.
					</li>
					<li class="py-2">
						<i class="fa fa-check" aria-hidden="true" style="color: rgb(33, 150, 243);"></i>&nbsp; Aenean eget libero quis lorem suscipit quis nec purus.
					</li>
					<li class="py-2">
						<i class="fa fa-check" aria-hidden="true" style="color: rgb(33, 150, 243);"></i>&nbsp; Aenean eget libero quis lorem suscipit quis nec purus.
					</li>
				</ul>
				<p>
					<%= link_to "COMMENCER", root_path, class: "btn btn-primary btn-lg" %>
				</p>
			</div>
		</div>
	</section>
</section>

<section class="container-fluid py-5" style="background-color: #2c4052;" data-aos="fade-up">
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-center">
				<h3 class="text-center text-light font-weight-bold">S'ABONNER POUR OBTENIR NOTRE NEWSLETTER</h3>
				<p class="text-center text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rem unde perferendis, nobis libero quisquam repellat esse velit rerum, quis amet est nostrum cum eos doloribus voluptates dignissimos accusamus? Laborum.</p>
				<%= form_with url: "", method: :get do |form| %>
				<div class="form-row">
					<div class="col-lg-7">
						<%= form.text_field :email, class: "form-control form-control-lg", placeholder: "Entrer votre email" %>
					</div>
					<div class="col-lg-1">
						<%= form.button "S'ABONNER", class: "btn btn-primary btn-lg" %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid py-5" data-aos="fade-up">
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-12">
				<h2>Questions fréquemment posées</h2>
			</div>
			<div class="col-lg-6">
				<p><%= image_tag "2 (1).png" %></p>
			</div>
			<div class="col-lg-6">
				<div class="accordion" id="accordionExample">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Quelle est la durée d'enregistrement autorisée pour les noms de domaine .bj ?
								</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body">
								<p>Les noms de domaines .bj sont disponibles pour 1 et 2 ans.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Combien de temps faut-il pour enregistrer mon nom de domaine .bj ?
								</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body">
								<p>Le délai d'enregistrement de domaine pour .bj pendant la disponibilité générale est de 1 mois.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Puis-je cacher mes informations d'enrégistrement de nom de domaine ?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
							<div class="card-body">
								<p>Non. Actuellement, la zone de domaine .bj ne permet pas de masquer les informations du propriétaire du domaine. Toutes les informations (nom, adresse, email, etc...) seront affichées dans WHOIS.</p>
							</div>
						</div>
					</div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefo" aria-expanded="false" aria-controls="collapsefo">
                                    Qui est l'organisation qui gère les noms de domaine .bj? 4
                                </button>
                            </h5>
                        </div>
                        <div id="collapsefo" class="collapse" aria-labelledby="collapsefo" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>L'organisation qui gère les noms de domaine .bj est <span class="font-weight-bold">Bénin Télécoms SA</span>.</p>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid py-5" style="background-color: #288feb;" data-aos="fade-up">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<h2 class="text-white">Commencez à construire votre site Web aujourd'hui</h2>
			</div>
			<div class="col-lg-3">
				<p><%= link_to "Commencer maintenant", root_path, class: "btn btn-light text-primary btn-lg badge-pill" %></p>
			</div>
		</div>
	</div>
</section>
