

<section class="hero is-medium banner-recap">
  <div class="hero-body">
    <div class="container">
      <!-- <h1 class="title">
        Hero title
      </h1>
      <h2 class="subtitle">
        Hero subtitle
      </h2> -->
    </div>
  </div>
</section>


<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10 content">
                <h2 class="title">Votre produit</h2>

                <table class="table is-bordered is-hoverable">
                  <thead>
                    <tr>
                      <th>Désignation</th>
                      <th>domaine</th>
                      <th>Durée d'enregistrement</th>
                      <th>Prix unitaire</th>
                      <th>Total</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Demande d'enregistrement de nom de domaine.</td>
                  <td><span class="has-text-weight-bold">www.<%= session[:domain_choosed_by_user] %>.bj</span></td>
                  <td>
                    <form action="">
                        <div class="field">
                          <p class="control">
                            <span class="select">
                              <select>
                                <option selected><%= session[:duration_of_domain] %></option>
                            </select>
                        </span>
                    </p>
                </div>
            </form>
        </td>
        <td>25.000<sup>f</sup></td>
        <td>25.000<sup>f</sup></td>
    </tr>
</tbody>
</table>
</div>
</div>

<div class="columns is-centered">
    <div class="column is-4 is-offset-8 content">
        <p>
            <%= link_to "Commander maintenant", new_domain_name_path, class: "button is-primary is-medium" %>
        </p>
    </div>
</div>
</div>
</section>