<% content_for :page_title, "Accueil" %>
<% content_for :page_meta_description, "" %>
<% content_for :page_meta_keywords, "" %>

<section class="hero jumbotron is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="content">
                <p class="is-size-5 has-text-white">L'achat d'un nom de domaine est l'une des premières étapes à franchir pour établir votre présence en ligne.</p>
                <h2 class="title has-text-white is-size-3">
                    Enregistrez votre nom de domaine en <span>.bj</span> pour seulement <span>12.500<sup>f</sup>/an</span>.
                </h2>
            </div>

            <!-- demande d’enregistrement de nom de domaine en « .bj » -->

            <%= form_with url: new_domain_name_path, method: :get, local: true do |f| %>
            <div class="columns">
                <div class="column">
                    <div class="field">
                      <div class="control has-icons-left has-icons-right is-expanded">
                        <%= f.text_field :second_level_domain_name, class: "input is-large", required: true, placeholder: "nom-de-mon-entreprise", style: "padding-left: 6rem;" %>
                        <span class="icon is-large is-left has-text-weight-bold" style="width: 6rem;">
                            www.
                        </span>
                        <span class="icon is-large is-right has-text-weight-bold">
                            .bj
                        </span>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <div class="control is-expanded">
                        <%= f.submit "Commander", class: "button is-primary is-large is-expanded" %>
                    </div>
                </div>
            </div>
        </div>
        <% end %>

    </div>
</div>
</section>

<section class="section has-background-light">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h3 class="title is-size-3 has-text-centered">Achetez votre nom de domaine et créez une présence en ligne pour votre PME/TPE.</h3>
                <!-- <p>Trouvez un domaine, créez un site et obtenez une adresse e-mail personnalisée</p> -->
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h4 class="title is-4">Choisissez votre nom de domaine en .bj</h4>
                    <p>Votre nom de domaine en dit long sur votre activité, et les nouvelles extensions comme .guru et .photography peuvent vous aider à sortir du lot sur le Web.</p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h4 class="title is-4">Créez votre site internet</h4>
                    <p>Inutile de savoir coder pour concevoir un site Web performant. Tournez-vous vers des services qui démocratisent la création de sites Web comme par exemple notre service TDS-WP.</p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h4 class="title is-4">Obtenez une adresse e-mail personnalisée</h4>
                    <p>Disponible en option, la messagerie personnalisée @votredomaine.bj est un service de TDS Hosting qui inclut différents outils.</p>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title is-2">Achetez un domaine et créez votre présence pro web.</h2>
                <p>Trouvez un domaine, créez un site et obtenez une adresse e-mail personnalisée</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h3 class="title is-3">Choisissez le nom de domaine .bj</h3>
                    <p>Chaque site Web commence par un bon nom de domaine. TDS Hosting, en tant que principal bureau d'enregistrement de domaines, vous offre une grande variété de domaines. Enregistrez ou transférez votre nom de domaine en un clin d'œil.</p>
                </div>
            </div>
             <div class="column">
                <div class="box">
                    <h3 class="title is-3">Hébergez votre site web</h3>
                    <p>TDS Hosting propose des forfaits d'hébergement sécurisés, fiables et performants pour seulement 15.000<sup>f</sup>/mois. Il existe une solution d'hébergement parfaite pour chaque site Web.</p>
                </div>
            </div>
             <div class="column">
                <div class="box">
                <h3 class="title is-3">Nous supportons WordPress.</h3>
                <p>Avec notre nouvelle option TDS-WP, vous pourrez enregistrer votre domaine et configurer WordPress en un temps record.</p>
                </div>
            </div>
        </div>
    </div>

</section> -->


<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h3 class="title is-size-3 has-text-centered">Questions fréquemment posées</h3>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <%= image_tag "logo-bj.jpg", size: "250x250" %>
            </div>
            <div class="column">
                <section class="accordions">
                    <article class="accordion is-active">
                        <div class="accordion-header">
                          <p>Qui est l'organisation qui gère les noms de domaine .bj ?</p>
                          <button class="toggle" aria-label="toggle"></button>
                      </div>
                      <div class="accordion-body">
                          <div class="accordion-content">
                            <p>L'organisation qui gère les noms de domaine .bj est <span class="has-text-weight-bold">Bénin Télécoms SA</span>.</p>
                        </div>
                    </div>
                </article>

                <article class="accordion">
                    <div class="accordion-header toggle">
                      <p>Quelle est la durée d'enregistrement autorisée pour les noms de domaine .bj ?</p>
                  </div>
                  <div class="accordion-body">
                      <div class="accordion-content">
                        <p>Les noms de domaines .bj sont disponibles pour 1 an, 2 ans, 3 ans, 4 ans et 5 ans avec possibilité de renouvellement.</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header">
                    <p>Combien de temps faut-il pour enregistrer mon nom de domaine .bj ?</p>
                    <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    <p>Le délai d'enregistrement de domaine pour .bj pendant la disponibilité générale est de 24 heures.</p>
                </div>
            </div>
        </article>
        <article class="accordion">
            <div class="accordion-header">
              <p>Puis-je cacher mes informations d'enrégistrement de nom de domaine ?</p>
              <button class="toggle" aria-label="toggle"></button>
          </div>
          <div class="accordion-body">
              <div class="accordion-content">
                <p>Non. Actuellement, la zone de domaine .bj ne permet pas de masquer les informations du propriétaire du domaine. Toutes les informations (nom, adresse, email, etc...) seront affichées dans WHOIS.</p>
            </div>
        </div>
    </article>

</section>
</div>
</div>
</div>
</section>