* {
    font-family: 'Roboto', sans-serif;
    // font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(image_path("adult-business-city-1181341.jpg"));
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
}

.banner-recap {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(image_path("2.jpg"));
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
}

.banner-new-domain-name {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(image_path("computer-electronics-equipment-325223.jpg"));
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
}

// .temoignage {
//     height: 75vh;
//     background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(image_path("blurred-background-close-up-coffee-cup-908284.jpg"));
//     background-size: cover;
//     background-position: center;
// }
