<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:page_title) ? yield(:page_title)  + " - " + "TDS Hosting" : "TDS Hosting" %></title>
  <meta name="description" content="<%= yield :page_meta_description %>">
  <meta name="author" content="TDS Hosting">
  <meta name="keywords" content="<%= yield :page_meta_keywords %>" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag "tds_logo.jpg" %>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700" rel="stylesheet"> 

  <% if content_for?(:head) %>
  <%= yield(:head) %>
  <% end %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
  <style>
  .cds::after {
    content: '|';
    color: white;
    margin-left: 1rem;
  }
  /* nav {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    } */
  </style>
</head>
<body class="<%= controller.controller_name %>#<%= controller.action_name %>">
  <%= render 'shared/flash' %>
  <%= render "shared/navbar" %>
  <main>
    <%= yield %>
  </main>
  <%#= render "shared/footer" %>
  <%= render "shared/footer_minimal" %>

  <script>
    $(document).ready(function() {
     $( "button.delete" ).on("click", function() {
      $( "div.notification" ).hide();
    });
   });
 </script>

 <script>
  // Bulma extensions (Accordion)
  $(document).ready(function() {    
    var accordions = bulmaAccordion.attach();
  });
</script>

<script>
  $(document).ready(function() {
    $('.flexslider').flexslider({
      animation: "slide"
    });
  });
</script>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<!-- <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
crossorigin=""></script>

<script>
  var mymap = L.map('mapid').setView([6.3670331, 2.448980600000027], 13);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'sk.eyJ1IjoiZnJhbmNlbHdlYmRldiIsImEiOiJjamttcjF1OWQwMDU0M2twMmJyMXgwd25oIn0.0VDbldYNAlxFfFxWA3LNZQ'
  }).addTo(mymap);

  var marker = L.marker([6.3670331, 2.448980600000027]).addTo(mymap);

  marker.bindPopup("<h5 class='is-size-5'>TechnoD@ta Solutions</h5> <p class='subtitle'>Informatique & Télécoms</p>").openPopup()
</script> -->

<!-- <script>
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    autoplay:true,
    autoplayTimeout:5000,
    autoplayHoverPause:true,
    responsive:{
      0:{
        items:1
      },
      600:{
        items:1
      },
      1000:{
        items:1
      }
    }
  })
</script> -->

<!-- <script>
  AOS.init({
    // Global settings
    disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
    startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
    initClassName: 'aos-init', // class applied after initialization
    animatedClassName: 'aos-animate', // class applied on animation
    useClassNames: false, // if true, will add content of `data-aos` as classes on scroll

    // Settings that can be overriden on per-element basis, by `data-aos-*` attributes:
    offset: 120, // offset (in px) from the original trigger point
    delay: 0, // values from 0 to 3000, with step 50ms
    duration: 1000, // values from 0 to 3000, with step 50ms
    easing: 'ease', // default easing for AOS animations
    once: false, // whether animation should happen only once - while scrolling down
    mirror: false, // whether elements should animate out while scrolling past them
    anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
  });
</script> -->

<script>
  $(document).ready(function() {
  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

    });
});
</script>

<script>
// document.querySelector('a#open-modal').addEventListener('click', function(event) {
//   event.preventDefault();
//   var modal = document.querySelector('.modal');  // assuming you have only 1
//   var html = document.querySelector('html');
//   modal.classList.add('is-active');
//   html.classList.add('is-clipped');

//   modal.querySelector('.modal-background').addEventListener('click', function(e) {
//     e.preventDefault();
//     modal.classList.remove('is-active');
//     html.classList.remove('is-clipped');
//   });
// });

// function toggleModalClasses(event) {
//     var modalId = event.currentTarget.dataset.modalId;
//     var modal = $(modalId);
//     modal.toggleClass('is-active');
//     $('html').toggleClass('is-clipped');
//   };

// $('.open-modal').click(toggleModalClasses);

// $('.close-modal').click(toggleModalClasses);


// class BulmaModal {
//   constructor(selector) {
//     this.elem = document.querySelector(selector)
//     this.close_data()
//   }

//   show() {
//     this.elem.classList.toggle('is-active')
//     this.on_show()
//   }

//   close() {
//     this.elem.classList.toggle('is-active')
//     this.on_close()
//   }

//   close_data() {
//     var modalClose = this.elem.querySelectorAll("[data-bulma-modal='close'], .modal-background")
//     var that = this
//     modalClose.forEach(function(e) {
//       e.addEventListener("click", function() {

//         that.elem.classList.toggle('is-active')

//         var event = new Event('modal:close')

//         that.elem.dispatchEvent(event);
//       })
//     })
//   }

//   on_show() {
//     var event = new Event('modal:show')

//     this.elem.dispatchEvent(event);
//   }

//   on_close() {
//     var event = new Event('modal:close')

//     this.elem.dispatchEvent(event);
//   }

//   addEventListener(event, callback) {
//     this.elem.addEventListener(event, callback)
//   }
// }

// var btn = document.querySelector("#btn")
// var mdl = new BulmaModal("#myModal")

// btn.addEventListener("click", function () {
//   mdl.show()
// })

// mdl.addEventListener('modal:show', function() {
//   console.log("opened")
// })

// mdl.addEventListener("modal:close", function() {
//   console.log("closed")
// })
</script>

</body>
</html>